<html>
    <head>
        <title>Winnie's blog</title>
    </head>
    <h1>Welcome to Winnie's Blog</h1>
    <h2>Come here to learn about Django and how a newbie setup her page!</h2>
    <body>
        <p><strong>Hi there!</strong></p>
        <p>It works!</p>
        <a href="https://djangogirls.org">Djangogirls</a>
        <br />

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2>My first post</h2>
            <p>Django is tough!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2>My second post</h2>
            <p>Can't believe you stuck around to read the second post :P </p>
        </div>

{% for post in posts %}
        <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
        </div>
{% endfor %}

    </body>
</html>
